
@media only screen and (max-width: 400px) {
    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15rem;
    }

    .name{
        position: absolute;
        color: white;
        max-width: 9%;
        padding-right: 60%;
        padding-bottom: 10%;
        z-index: 1;
        left: 2rem;
        top: 12rem;
    }
    .name span{
        color: #35B0BF;
        font-size: 130%;
        padding-right: 10px;
    }

    .exp{
        padding-left: 10%;
        padding-bottom: 10%;
        font-size: 120%;
        left: 15rem;
        top: 12rem;
        
    }
    .exp span{
        color: #35B0BF;
        font-size: 100%;
    }
    
    .social{
        padding-left: 1%;
        left: 17rem;
        width: 25%;
        top: 16rem;
    }
    .social img{
        width: 1rem;
        padding: 5px;
        background-color: #D2CECB;
        border-radius: 50%;
    }

    .img{
        position: absolute;
        top: 23%;
        left: 4rem;
        width: 210px;
        
          
    }
    
    .profile{
        width: 120%;
        background-color: #292C3D;
        border-radius: 50%;
        padding: 2px;
    }
    
    .icons{
        position: relative;
        padding-top: 7%;
    }
    .icon{
        position: absolute;
        background-color: #2A2B3D;
        border: 10px solid #2A2B3D;
        max-width: 28%;
        left: 2rem;
        padding: 5px;
        border-radius: 10%;
        
    }
    
    .icon img{
        left: 3%;
        padding: 8px 25px;
        border-radius: 20%;
    }
    
    .icimg{
        margin-left: 10px;
        width: 10%;
    }
    
    .about{
        right: -0.9rem;
        max-width: 35%;
        top: 11rem;
        font-size: 14px;
    }

    .servicios{
        position: relative;
        top: 15rem;
        right: 20rem;
    }
    

    .grider{
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;
        justify-content: center;
        max-width: 40%;
        margin-left: 30rem;
    }

    .habilidad{
        position: relative;
        color: white;
        top: 23rem;
        text-align: center;
        right: 19rem;
    }
    
    .p-bar{
        position: relative;
        left: 21.5rem;
       
      
    }
    
    .porta{
        position: relative;
        color: white;
        top: 27rem;
        right: 19rem;
        text-align: center;
    }

    .contacto{
        position: relative;
        top: 5rem;  
    }
    
    
    .card{
       position: relative;
       padding: 0.5rem;
       margin: 20px;
      
    }
    .card-p{
        position: relative;
        top: -5.3rem;
        right: -1.1rem;
    }
    .card h3{
       font-size: 14px;
       color: #03051A;
       padding: 10%;
    }
    
    .card p{
        color:grey;
        font-size: 13px;
    }
    .phone{
        padding: 2rem;
        top: 100px;
        
    }
    
    .mail{
        padding: 1.4rem;
        top: 200px;
    }
  }



@media only screen and (max-width: 600px) {
    .home{
        
        padding-top: 15rem;
    }

    .name{
        max-width: 9%;
        padding-right: 60%;
        padding-bottom: 10%;
        left: 6rem;
        top: 12rem;
    }
    .name span{
        color: #35B0BF;
        font-size: 230%;
        padding-right: 10px;
    }

    .exp{
        padding-left: 10%;
        padding-bottom: 10%;
        font-size: 140%;
        left: 21.5rem;
        top: 11rem;
        
    }
    .exp span{
        font-size: 120%;
    }
    
    .social{
        padding-left: 1%;
        left: 25rem;
        width: 25%;
        top: 14rem;
    }
    .social img{
        width: 1rem;
        padding: 5px;
    }

    .img{
        position: absolute;
        top: 23%;
        left: 8.5rem;
        width: 210px;  
    }
    
    .profile{
        width: 150%;
        border-radius: 50%;
        padding: 2px;
    }
    
    .icons{
        position: relative;
        padding-top: 13%;
    }
    .icon{
        position: absolute;
        max-width: 36%;
        left: 8.4rem;
        padding: 5px;
        border-radius: 10%;
        
    }
    
    .icon img{
        left: 3%;
        padding: 8px 25px;
        border-radius: 20%;
    }
    
    .icimg{
        margin-left: 10px;
        width: 10%;
    }
    
    .about{
        right: -7.9rem;
        max-width: 35%;
        top: 11rem;
        font-size: 14px;
    }

    .servicios{
        position: relative;
        top: 15rem;
        right: 9rem;
    }
    

    .grider{
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;
        justify-content: center;
        max-width: 40%;
        margin-left: 20rem;
    }

    .habilidad{
        position: relative;
        color: white;
        top: 23rem;
        text-align: center;
        right: 8rem;
    }
    
    .p-bar{
        position: relative;
        left: 15.5rem;
       
      
    }
    
    .porta{
        position: relative;
        color: white;
        top: 27rem;
        right: 8rem;
        text-align: center;
    }

    .contacto{
        position: relative;
        top: 5rem;  
    }
    
    
    .card{
       position: relative;
       padding: 0.5rem;
       margin: 20px;
      
    }
    .card-p{
        position: relative;
        top: -5.3rem;
        right: -1.1rem;
    }
    .card h3{
       font-size: 14px;
       color: #03051A;
       padding: 10%;
    }
    
    .card p{
        color:grey;
        font-size: 13px;
    }
    .phone{
        padding: 2rem;
        top: 100px;
        
    }
    
    .mail{
        padding: 1.4rem;
        top: 200px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
   
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    
  }