/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* nav ul{
        display: grid;
        list-style: none;
        text-align: center;
        position: absolute;
        background-color: rgb(207, 207, 207);
        right: 0;
        left: 0;
        top: 100%;
        margin: 0;
    } */

    nav button{
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }
    
 }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    
 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    
 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
   
 }

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
    
 }

/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */