/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #nav li {
        display: inline-block;
        margin-left: 1rem;
    }
    #nav {
        display: block;
        text-align: right;
        background-color: transparent;
        position: static;
        padding: 0;
    }
    nav button{
        display: none;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #nav li {
        margin-left: 3rem;
    }
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media (min-width: 992px) {
    .home{
        position: relative;
        top: 3rem;
        
    }

    .name{
        color: rgb(255, 255, 255);
        margin-left: 25rem;
        max-width: 10%;
        z-index: 1;
    }
    
    .name span{
        color: #34B0BE;
        font-size: 120px;
    }
    
    .img{
       position: relative;
       left: 4rem;

    }
    
    .profile{
        background-color: #282B3C;
        border-radius: 50%;
        width: 500px;
        height: 500px;
    }
    
    .exp{
        position: relative;
        color: white;
        left: 11rem;
        font-size: 45px;
        max-width: 20%;
    }
    
    .exp span{
        color: #34B0BE;
    }
    .social{
        position: absolute;
        top: 7.5rem;
        right: 9rem;;
        display: inline-flex;
    }
    .items{
        margin: 5px;
        width: 60px;
        height: 60px;
        z-index: 1;
        border: 2px solid #D1CECA;
        border-radius: 50%;
        background-color: #D1CECA;
     }
     .items img{
         width: 50px;
         height: 50px;
         position: relative;
         bottom: -5px;
         left: 5px;
     }
    .icons{
        position: relative;
        text-align: center;
        background-color: #282B3C;
        padding: 1%;
        max-width: 30%;
        left: 38.5rem;
        
    }
    
    .icimg{
        width: 20%;
        margin: 10px;
        background-color: #D1CECA;
        padding: 5px 25px 5px 25px;
        border-radius: 20%;
    }
}