body{
    margin: 0;
    background-color: rgb(1, 6, 29);
}

nav{
    position: relative;
    
    
}
.nav li {
    list-style: none;
    display: inline;
    padding: 2%;
  }

nav ul{
    
}
nav a{
    text-decoration: none;
    color: white;
    background-color: red;
}
.hidden{
    display: none;
}

p{
    color: white;
}

.home{
  display: grid;
  align-items: center; 
}

.redes{
   
}